@model MassAccountManagementSystem.Models.RegisterUser

@{
    ViewBag.Title = "RegisterAccount";
}
<body style="color: white; background-image: url('/Images/5519107155_c29cb3604f_b.jpg')">
    <h2>Create your account</h2>
<div >
    @using (Html.BeginForm("RegisterAccount", "Account", FormMethod.Post, new {enctype = "multipart/form-data"}))
    {
        <table align="center">
            <tr>

                <td>@Html.TextBoxFor(a => a.Name, new {placeholder = "Enter your Name", @class = "form-control"})<br/></td>
                <td>@Html.ValidationMessageFor(a => a.Name, "", new {style = "color: white;font-weight: bold"})</td>
            </tr>

            <tr>

                <td>@Html.TextBoxFor(a => a.UserName, new {placeholder = "Enter your UserName", @class = "form-control"})<br/></td>
                <td>@Html.ValidationMessageFor(a => a.UserName, "", new {style = "color: white;font-weight: bold"})</td>
            </tr>
            <tr>

                <td>@Html.PasswordFor(a => a.Password, new {placeholder = "Enter your Password", @class = "form-control"})<br/></td>
                <td>@Html.ValidationMessageFor(a => a.Password, "", new {style = "color: white;font-weight: bold"})</td>
            </tr>
            <tr>

                <td><input type="file" name="ImageFile" required/><br/></td>
            </tr>

            <tr>

                <td>@Html.TextBoxFor(a => a.Address, new {placeholder = "Enter your Address", @class = "form-control"})<br/></td>
                <td>@Html.ValidationMessageFor(a => a.Address, "", new {style = "color: white;font-weight: bold"})</td>
            </tr>

            <tr>

                <td>@Html.TextBoxFor(a => a.Email, new {placeholder = "Enter your Email", @class = "form-control"})<br/></td>
                <td>@Html.ValidationMessageFor(a => a.Email, "", new {style = "color: white;font-weight: bold"})</td>
            </tr>

            <tr>

                <td>@Html.TextBoxFor(a => a.Phone, new {placeholder = "Enter your Phone number", @class = "form-control"})<br/></td>
                <td>@Html.ValidationMessageFor(a => a.Phone, "", new {style = "color: white;font-weight: bold"})</td>
            </tr>

            <tr>

                <td>@Html.TextBoxFor(a => a.Question, new {placeholder = "Enter your question for remeber password", @class = "form-control"})<br/></td>
                <td>@Html.ValidationMessageFor(a => a.Question, "", new {style = "color: white;font-weight: bold"})</td>
            </tr>
            <tr>

                <td><input type="submit" class="btn btn-success btn-block" value="Save"/></td>
            </tr>

        </table>
    }
    <span class="pull-right btn btn-success">
   @Html.ActionLink("Back","Index","Account",null,new{@style="color: white"})
</span>
</div>
</body>
